@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";


.avatar-small {
  width: 30px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 48px;
}

.avatar-full {
  width: 100%;
}
